/* FOOTER */
.footer {
  padding: 40px 0 60px;
  border-top: 1px solid #111;

  color: #666;
  font-size: 14px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.footer-top h2 {
  font-size: 32px;
  font-weight: 800;
  letter-spacing: -1px;
}

.language-btn {
  border: 1px solid #333;
  padding: 12px 22px;
  border-radius: 14px;
  color: #d1d1d1;
  transition: 0.3s;
  cursor: pointer;
}

.language-btn:hover {
  border-color: white;
  color: white;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-bottom: 60px;
}

.footer-links h4 {
  margin-bottom: 18px;
  font-size: 18px;
  color: white;
}

.footer-links a {
  display: block;
  color: #8d8d8d;
  text-decoration: none;
  margin-bottom: 14px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #e7212e;
  transform: translateX(3px);
}

.footer-bottom {
  border-top: 1px solid #1f1f1f;
  padding-top: 24px;
  color:  #6d6d6d;
  font-size: 14px;
}

.white-text {
  color: white;
}

.red-text {
  color: #e7212e;
}